.navbar{
	box-shadow: 0 8px 6px -6px #999;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	-o-box-shadow: 0 8px 6px -6px #999;
}

.back-dis{
	background: linear-gradient(left, #990099 0%, #990099 10%, #0000cc 100%);
	background: -webkit-linear-gradient(left, #990099 0%, #990099 10%, #0000cc 100%);
}

.img-portada{

	margin-top: 1px;
	padding: 298px 0 298px;
	border: 2px solid black;
}

.dat-principal{

	margin-top: 1px;
	padding: 400px 0 400px;
	border: 2px solid black;
}

.c-bg{

	background: -webkit-linear-gradient(bottom, rgba(9,13,0, 0.3) 0%, rgba(9,13,0, 0.3) 1%, rgba(51, 51, 255, 0.8) 50%, rgba(51, 51, 255, 0.8) 100%);
	padding: 40px;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 200px;
	border-radius: 20px;
}

.ln{

	width: 100%;
	position: relative;
	border-bottom: 2px solid #fff;
	margin-top: 200px;
}

.rd{
	color: white;
	font-size: 18px;
	margin-top: 50px;

}

.rbtm{
	margin-bottom: 100px;
}

.msts{

	color: white;
	font-size: 28px;
}

.imgB{

	color: white;
	position: absolute;
	margin-top: -138px;
	font-size: 21px;
	font-weight: bold;
}

.imgAR{

	color: black;
	position: absolute;
	margin-top: 130px;
	margin-right: -600px;
	font-size: 32px;
	font-weight: bold;
}

.imgAR2{

	color: white;
	position: absolute;
	margin-top: 130px;
	margin-right: -605px;
	font-size: 32px;
	font-weight: bold;
}

.imgRV{

	color: black;
	position: absolute;
	margin-top: 130px;
	margin-left: -600px;
	font-size: 32px;
	font-weight: bold;
}

.imgRV2{

	color: white;
	position: absolute;
	margin-top: 130px;
	margin-left: -595px;
	font-size: 32px;
	font-weight: bold;
}

.imgTh{

	color: white;
	position: absolute;
	margin-top: 446px;
	font-size: 21px;
	font-weight: bold;
}