

.back-gr{
	background: -webkit-linear-gradient(left, #090d00 0%,#090d00 50%, #660066 50%, #0672d0 100%);
	padding: 100px 0px 100px 0px;
}

.back-mob{

	background: -webkit-linear-gradient(-90deg, #090d00 0%,#090d00 50%, #660066 50%, #0672d0 100%);
	padding: 300px 0px 100px 0px;
}

.iL{
	
	margin-left: 8%;
	height: 540px;
	width: 540px;
	background-color: #ffffff;
	box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.2);
	border: 1px solid #ddd;
	border-radius: 8px;
	filter: blur(1px);

}

.iLsu{
	
	position: absolute;
	margin-left: 3.8%;
	top: 386px;
	height: 532px;
	width: 540px;
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid #ddd;
	border-radius: 8px;

}

.iRsu{
	
	position: absolute;
	margin-left: 5.8%;
	top: 386px;
	height: 532px;
	width: 0px;
	background: rgba(244, 244, 244, 0.2);
	border: 1px solid #ddd;
	border-radius: 8px;

}

.Lbutton{
	position: absolute;
	margin-top: -120px;
	margin-left: 240px;
	border: 6px solid white;
	border-radius: 8%;
	font-family: Montserrat, sans-serif;
	color: white;
	font-weight: 20px;
	font-size: 40px;
}

.Rbutton{
	position: absolute;
	margin-top: 420px;
	margin-left: 190px;
	border: 6px solid white;
	border-radius: 8%;
	font-family: Montserrat, sans-serif;
	color: white;
	font-weight: 20px;
	font-size: 40px;
}

.iRsu:hover{
	width: 538px;
	filter: blur(1px);
	transition-duration: 0.5s;
	-webkit-transition-duration 0.5s;

}

.sizL{
	border: 1px solid #ddd;
	border-radius: 8px;

	width: 600px;
}

.iR{

	margin-left: 12%;
	height: 540px;
	width: 540px;
	background-color: #ffffff;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
	border: 1px solid #ddd;
	border-radius: 8px;
}

.sizR{
	border: 1px solid #ddd;
	border-radius: 8px;

	width: 600px;
}

.dL{

	background-color: #cc99ff;
	margin-top: -20%;
	margin-left: -8%;
	margin-bottom: 10%;
	height: 600px;
	width:80%;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);

}

.dR{

	background-color: #A9A9A9;
	margin-top: -20%;
	margin-left: 28%;
	margin-bottom: 10%;
	height: 600px;
	width:80%;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);

}

.tipogL{
	margin-left: 6%;
	margin-bottom: 50px;
	font-weight: 600;
	line-height: 1;
	text-align: left;
	font-size: 2.9rem;
	color: #EDEEE9;
	font-family: Montserrat, sans-serif;
	}


.tipogL p {
  height: 30px;

}

.tipogL b {
  float: left;
  overflow: hidden;
  position: relative;
}

.tipogL .inner {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  background: linear-gradient(400deg, #ff00ff 14%, rgba(0, 0, 0, 0) 23%), linear-gradient(300deg, #0672d0 14%, #0672d0 44%);
   background-size: 400%;
	 -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}

@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.tipogR{

	margin-left: 16%;
	margin-bottom: 30px;
	font: 600 3em/1 'Lucida Console', Monaco, monospace;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);

}

.tipogR2{

	margin-left: 16%;
	margin-bottom: 20px;
	font: 20 1.3em/1 'Lucida Console', Monaco, monospace;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);

}
.tipogR3{

	margin-left: 16%;
	margin-bottom: 20px;
	font: 20 1.3em/1 'Lucida Console', Monaco, monospace;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);

}
.tipogR4{

	margin-left: 16%;
	margin-bottom: 20px;
	font: 20 1.3em/1 'Lucida Console', Monaco, monospace;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);

}

.tipoTem{
	color: #19ff19;
	margin-top: -500px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

.tipoTem2{
	color: #19ff19;
	margin-top: -446px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

.tipoTem3{
	color: #19ff19;
	margin-top: -406px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

.tipoTem4{
	color: #19ff19;
	margin-top: -362px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

.tipoTem5{
	color: #19ff19;
	margin-top: -306px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

.tipoTem6{
	color: #19ff19;
	margin-top: -280px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

.tipoTem7{
	color: #19ff19;
	margin-top: -240px;
	margin-left: 64px;
	position: absolute;
	z-index: 100px;
	display: none;
}

a{
	color: white;
}

.upi{

	background: white;
	margin-top: -100px;
	padding: auto;
	border: 2px solid #fff;
	border-radius: 8px;
}

.sizM{
	height: -200px;
	width: -200px;
	border: 2px solid #fff;
	border-radius: 8px;
}

.dowi{

	background: white;
	padding: auto;
	margin-top: 400px;
	border: 2px solid #fff;
	border-radius: 8px;
}

.tipogUm{
	margin-top: -270px;
	margin-bottom: 20px;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);
	font: 600 1.4em/1 'Lucida Console', Monaco, monospace;

}

.tipogUm2{
	margin-top: 4px;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);
	font-family: 'Lucida Console', Monaco, monospace;

}
.tipogUm3{
	margin-top: 6px;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);
	font-family: 'Lucida Console', Monaco, monospace;

}
.tipogUm4{
	margin-top: 8px;
	letter-spacing: 3px;
	color: #ffffff;
	text-shadow: 0 0 22px rgba(255,255,255,.5);
	font-family: 'Lucida Console', Monaco, monospace;

}

.iRsuM{
	position: absolute;
	height: 336px;
	width: 336px;
	margin-top: -336px;
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid #ddd;
	border-radius: 8px;

}

.UpButtonM{
	position: absolute;
	margin-top: -80px;
	margin-left: 110px;
	padding: -100px;
	font-family: Montserrat, sans-serif;
	color: white;
	font-weight: 20px;
	font-size: 30px;
	border: 2px solid #fff;
	border-radius: 8px;
}

.tipoTemMov{

	position: absolute;
	margin-top: -320px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.tipoTemMov2{

	position: absolute;
	margin-top: -300px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.tipoTemMov3{

	position: absolute;
	margin-top: -270px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.tipoTemMov4{

	position: absolute;
	margin-top: -230px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.tipoTemMov5{

	position: absolute;
	margin-top: -190px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.tipoTemMov6{

	position: absolute;
	margin-top: -160px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.tipoTemMov7{

	position: absolute;
	margin-top: -140px;
	margin-left: 20px;
	color: #19ff19;
	z-index: 1;
	font-size: 12px;
	display: none;
}

.MtipogL{

	position: absolute;
	margin-top: 200px;
	line-height: 1;
	text-align: left;
	color: #EDEEE9;
	font: 600 2em/1 Montserrat, sans-serif;
	}

.MtipogL p {
  height: 20px;

}

.MtipogL b {
  float: left;
  overflow: hidden;
  position: relative;
}

.MtipogL .inner {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  background: linear-gradient(-300deg, #ff00ff 44%, rgba(0, 0, 0, 0) 23%), linear-gradient(300deg, #0672d0 14%, #0672d0 44%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  -webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}

@keyframes move{
0%  { top: 0px; }
20% { top: -30px; }
40% { top: -60px; }
60% { top: -100px; }
80% { top: -1600px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
20% { top: -30px; }
40% { top: -60px; }
60% { top: -100px; }
80% { top: -160px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
20% { top: -30px; }
40% { top:-60px; }
60% { top: -100px; }
80% { top: -160px; }
}
@-o-keyframes move {
   0%  { top: 0px; }
20% { top: -30px; }
40% { top:-60px; }
60% { top: -100px; }
80% { top: -160px; }
}
@keyframes move {
    0%  { top: 0px; }
20% { top: -30px; }
40% { top: -60px; }
60% { top: -100px; }
80% { top: -160px; }
}

.DsizM{
	height: -200px;
	width: -200px;
	border: 2px solid #fff;
	border-radius: 8px;
}

.DoBut{

	position: absolute;
	margin-top: -80px;
	margin-left: 110px;
	padding: -100px;
	font-family: Montserrat, sans-serif;
	color: white;
	font-weight: 20px;
	font-size: 30px;
	border: 4px solid white;
	border-radius: 8px;
}
