.backg-sc{
	background: #090d00;
}

.text-color{
	color: #33;
}

.navbar{
	box-shadow: 0 8px 6px -6px #999;
	-webkit-box-shadow: 0 8px -6px #999;
	-moz-box-shadow: 0 8px -6px #999;
	-o-box-shadow: 0 8px -6px #999;
	background: linear-gradient(left, rgba(51,51,255,0.5) 0%, rgba(51,51,255,0.5) 10%, rgba(9,13,0,0.5) 26%, rgba(9,13,0,0.5) 100%);
	background: -webkit-linear-gradient(left, rgba(51,51,0,0.5) 0%, rgba(51,51,255,0.5) 10%, rgba(9,13,0,0.5) 26%, rgba(9,13,0,0.5) 100%);
	background: -moz-linear-gradient(left, rgba(51,51,255,0.5) 0%, rgba(51,51,255,0.5) 10%, rgba(9,13,0,0.5) 26%, rgba(9,13,0,0.5) 100%);
	background: -o-linear-gradient(left, rgba(51,51,255,0.5) 0%, rgba(51,51,255,0.5) 10%, rgba(9,13,0,0.5) 26%, rgba(9,13,0,0.5) 100%);
}

.img-bran{
	margin-top: -55px;
}

.img-portada{

	margin-top: 40px;
	margin-bottom: 50px;
}



.cover-principal{

	background: linear-gradient(top, rgba(9,13,0, 0.8) 0%, rgba(9,13,0, 0.8) 30%, rgba(51, 51, 255, 0.2) 50%, rgba(51, 0, 255, 51, 0.2) 100%);
	background: -webkit-linear-gradient(top, rgba(9,13,0, 0.8) 0%, rgba(9,13,0, 0.8) 30%, rgba(51, 51, 255, 0.2) 50%, rgba(51, 51, 255, 0.2) 100%);
	background: -moz-linear-gradient(top, rgba(9,13,0, 0.8) 0%, rgba(9,13,0, 0.8) 30%, rgba(51, 51, 255, 0.2) 50%, rgba(51, 51, 255, 0.2) 100%);
	background: -o-linear-gradient(top, rgba(9,13,0, 0.8) 0%, rgba(9,13,0, 0.8) 30%, rgba(51, 51, 255, 0.2) 50%, rgba(51, 51, 255, 0.2) 100%);
}

.upEPh{

	padding-top: 100px;
	opacity: 0;
	transition: all 1s ease;
}

.upEPh.active{

	padding-top: 50px;
	opacity: 1;
}