
main > .container {
  padding: 60px 15px 0;
}

.bg-cod{
	background-color: rgb(240, 240, 240);
}

.container-portada{

	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, black, #0672d0);
	opacity: 0.5;
}
